
.background{
    /* When YOu click anywhere on the homepage the page sends the user to Introduciton.html */
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
}

.link{
    text-decoration: none;
    color: black;
}

#WelcomeMsg{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    width: calc(100vw - 1px); /* Subtract 2px to account for border thickness */
    height: calc(100vh - 1px); /* Subtract 2px to account for border thickness */

    margin-top: 0px;
    padding-top: calc(18vh - 2px);

    text-shadow: 10px 10px 10px darkgrey;
    text-align: center;
    font-size: 1000%;
    font-family: Coctail, cursive;
} 

#Menu{
    cursor: pointer;
    border: 1px solid;
    background-color: skyblue;
    font-family: Coctail, cursive;
    font-size: 25px;

    position: fixed;
    text-align: center;
    top: 0%;

    line-height: 50px;
    width: 100%;
    height: 50px;
    margin:0px;
}

/* #Name{
    font-size:60px;
    color:rgb(0, 7, 101);
    font-family: Coctail, cursive;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 10%;
    transform: translate(-10%, -50%);
}
#intro{
    font-size:25px;
    color:rgb(63, 59, 102);
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 35%;
    left: 35%;
    right: 10%;
    transform: translateX(-50%);
}
#woosungWithCuteHat{
    border-radius: 70px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    width: 330px;
} */
